<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="http://salehriaz.com/404Page/img/rocket.svg" width="60px">
            <h1>Welcome to Space Library</h1>
        </header>
        
        <nav>
		
			<ul>
                <li><a href="/newAuthor">Add New Author</a></li>
				<li><a href="/listAuthor">Authors List</a></li>
				<li><a href="/newBook">Add New Book</a></li>
				<li><a href="/listBook">Books List</a></li>
                <li><a href="/deleteBookISBN">Delete Book</a></li>
                <li><a href="/updateAuthorNumBooks">Update Author's Book Number</a></li>
			</ul>
			
		</nav>  
        
        <main>
            <h3>Please choose an option from the navigation bar</h3>
        </main>
    </body>
</html>